{% extends "base.html" %}

{% block content %}

<h2>Signup</h2>
<form method="post">
  <label>Username</label>
  <input type="text" name="username" value="{{username}}">
    <span class="error">
       {{error_username}}
    </span>
  <label>Password</label>
  <input type="password" name="password" value="">
    <span class="error">
      {{error_password}}
    </span>
  <label>Verify Password</label>
  <input type="password" name="verify" value="">
    <span class="error">
      {{error_verify}}
    </span>
  <label>Email (optional)</label>
  <input type="text" name="email" value="{{email}}">
    <span class="error">
        {{error_email}}
    </span>
  <br><br>
  <input type="submit">
</form>

<br>
<a class="login-signup-link" href="/login">Login</a>
  
{% endblock %}